<section id="todoapp">
    <header id="header">
        <h2>todos</h2>
    </header>

  {{outlet}}
</section>

<footer id="info">
    <p>Double click to edit a todo</p>
    <p>Created by Yuxin Chen, last updated July 10, 2015</p>
</footer>