
<div id="main-header">
    <!--<input type="checkbox" class="toggle-all" />-->
  {{input id='toggle-all'
  type='checkbox'
  classBinding=':toggle-all areAllCompleted:completed'
  checked=areAllCompleted
  }}

  {{input id="new-todo"
  type="text"
  value=newTitle
  placeholder="What needs to be done"
  action="createTodo"}}
    <!--WHY THIS NOT WORK??? on="focusOut"-->
</div>
<ul id="todo-list">
  {{outlet}}
</ul>
